body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: lightblue;
	color: darkblue;
}

.heading {
	display: block;
	font-size: 20px;
	margin-top: 40px;
}

label {
	width: 8em;
	padding-right: 1em;
	float: left;
}

input {
	margin-bottom: .5em;
}

.ActionButton {
	width: 120px;
	background-color: yellow;
}