<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<title>Shopping Cart</title>
<h:outputStylesheet name="stylesheet.css" library="css"/>
</h:head>
<h:body>
	<h:form>
		<h2 class="heading">Products</h2>
		<h:selectOneListbox id="productsListBox"
			value="#{shopBean.productID}"
			onchange="this.form.submit();"
			title="Products you can buy online">
			<f:selectItem itemLabel="iPod" itemValue="0"/>
			<f:selectItem itemLabel="iStation" itemValue="1"/>
			<f:selectItem itemLabel="hdc Diamond Phone" itemValue="2"/>
			<f:selectItem itemLabel="HD TV" itemValue="3"/>
			<f:selectItem itemLabel="Wireless Speakers" itemValue="4"/>
			<f:selectItem itemLabel="Blu Ray DVD Player" itemValue="5"/>
		</h:selectOneListbox>
		
		<h2 class="heading">Manage My Cart</h2>
		<label>Product ID:</label>
		<h:inputText id="productID" size="3" value="#{shopBean.productID}" readonly="true"
			title="ID for your selected product"/>
		<br/>
		<label>Quantity:</label>
		<h:inputText id="quantity" size="3" value="#{shopBean.quantity}" title="Tell us how many you want!"/>
		
		<br/>
		<h:commandButton id="add" value="Add to Cart" class="ActionButton" action="#{shopBean.addHandler}"/>
		<h:commandButton id="remove" value="Remove" class="ActionButton" action="#{shopBean.removeHandler}"/>
		<h:commandButton id="checkout" value="Checkout" class="ActionButton"/>
	</h:form>
	
	<h2 class="heading">Contents of cart</h2>
	<h:dataTable value="#{cartBean.items}" var="row">
		<h:column>
			<h:outputText value="ID: #{row.productID}"/>
		</h:column>
		<h:column>
			<h:outputText value="Qty: #{row.quantity}"/>
		</h:column>
	</h:dataTable>
</h:body>
</html>