<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet library="css" name="styles.css"/>
</h:head>
<h:body>
	<h:form>
		<h:dataTable value="#{tableData.names}" var="name"
							styleClass="nameTable"
							headerClass="nameTableHeader"
							rowClasses="nameTableOddRow, nameTableEvenRow">
			<h:column>
				<f:facet name="header">Last Name</f:facet>
				<h:inputText value="#{name.lastName}" rendered="#{name.canEdit}"/>
				<h:outputText value="#{name.lastName}" rendered="#{not name.canEdit}"/>
			</h:column>
			<h:column>
				<f:facet name="header">First Name</f:facet>
				<h:inputText value="#{name.firstName}" rendered="#{name.canEdit}"/>
				<h:outputText value="#{name.firstName}" rendered="#{not name.canEdit}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Edit</f:facet>
				<h:commandLink value="Edit" action="#{tableData.editName(name)}" rendered="#{not name.edit}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Delete</f:facet>
				<h:commandLink value="Delete" action="#{tableData.deleteName(name)}" rendered="#{not name.edit}"/>
			</h:column>
		</h:dataTable>
		<h:commandButton value="Save Changes" action="#{table.saveAction}"/>
		<h3>Add Name</h3>
		<table>
			<tr>
				<td>First Name:</td>
				<td><h:inputText size="10" value="#{tableData.firstName}"/></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><h:inputText size="10" value="#{tableData.lastName}"/></td>
			</tr>
			<tr>
				<td></td>
				<td><h:commandButton value="Add Name" action="#{tableData.addName}"/></td>
			</tr>
		</table>
	</h:form>
</h:body>
</html>